<form action="/address/add" method="POST">
  <input type="hidden" name="userId" value="<%= userId %>" />
  <label>Label:</label>
  <input type="text" name="label" /><br />

  <label>Street:</label>
  <input type="text" name="street" /><br />

  <label>City:</label>
  <input type="text" name="city" /><br />

  <label>Postcode:</label>
  <input type="text" name="postcode" /><br />

  <label>Country:</label>
  <input type="text" name="country" /><br />

  <button type="submit">Add Address</button>
</form>
